{% extends 'base.html.twig' %}

{% block title %}CONNEXION {{ parent() }}{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center mb-5 mt-5">Connectez-vous</h1>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <label class="mt-2 mb-1" for="inputEmail">Email</label>
                    <input type="email" placeholder="Entrez votre adresse email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label class="mt-2 mb-1" for="inputPassword">Mot de passe</label>
                    <input type="password" placeholder="Entrez votre mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input  type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <button class="btn w-100 btn-success mt-3 " type="submit">
                    Connexion
                </button>
            </div>
        </div>
    </form>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <br>
        <br>
        <hr>

        <div class="mt-5 pb-5">
            <p class="text-center"><a href="{{ path('reset_password') }}">Mot de passe oublié</a></p> 
            <p class="text-center">Ou souhaitez vous <a href="{{ path('register') }}">créer un compte</a> ?</p> 
        </div>
</div>
{% endblock %}
