{% extends "base.html.twig" %}
{% block metaDescription %}Bienvenue chez Canton Sème à la super ferme. Ferme expérimentale en marâichage sol vivant biologique.{% endblock %}

{% block title %}ACCUEIL {{ parent() }}{% endblock %}

{% block carousel %}{% endblock %}

{% block content %}


        <!-- START THE FEATURETTES -->

<!--MENUS BIS START-->
        <h1 class="text-center mb-5 mt-5">Canton Sème</h1>

        <p class="lead text-center mb-5 mt-5 pb-5">L'association Canton Sème, c'est plusieurs choses. Tout d'abord, c'est une Amap, où vous avez la possibilité de venir chercher 
        vos légumes sous forme de paniers et ce, toutes les semaines. C'est également des formations, où vous pouvez venir apprendre
        le maraîchage sol vivant. Et aussi, ce sont des événements, que nous organisons, pour nous regrouper avec nos adhérents, et imaginer le 
        futur de notre chère association.</p>

    </div>

        <div class="bande-centrale container-fluid mt-5">
                <div class="row  justify-content-center mt-5">
                    <div class="col-md-4 mb-5 d-flex justify-content-center position-relative">
                        <a class="bloc-img mb-4" href="{{ path('products')}}">
                            <img class="img-deco " src="{{ asset('assets/photos/panier-renverse.jpg') }}" alt="Amap">
                            <h3 class="position-absolute top-50 start-50 translate-middle bc-text">L'AMAP</h3>
                        </a>
                    </div>
                    <div class="col-md-4  mb-5 d-flex justify-content-center position-relative">
                        <a class="bloc-img mb-4" href="{{ path('formations')}}">
                            <img class="img-deco" src="{{ asset('assets/photos/groupe-soleil.jpg') }}" alt="Formations">
                            <h3 class="position-absolute top-50 start-50 translate-middle bc-text">LES FORMATIONS</h3>
                        </a>
                    </div>        
                    <div class="col-md-4  mb-5 d-flex justify-content-center position-relative">
                        <a class="bloc-img mb-4" href="{{ path('events')}}">
                            <img class="img-deco" src="{{ asset('assets/photos/stand.jpg') }}" alt="Événements">
                            <h3 class="position-absolute top-50 start-50 translate-middle bc-text">LES ÉVÉNEMENTS</h3>
                        </a>
                    </div>
                </div>       
        </div>
<!--MENUS BIS END-->

    <div class="container">
        <div class="mt-5 mb-5">
            <img class="separator" src="{{ asset('assets/ink/separateur.svg')}}"><img class="separator-end" src="{{ asset('assets/ink/feuille.png')}}" alt="Feuille">
        </div>

<!--CHANTIERS START-->
        <div class="row featurette">
            <div class="col-md-8">
                <div class="mt-5 mb-5">
                    <h1 class="featurette-heading text-center">Les Chantiers</h1>           
                </div>
                <p class="lead">On a toujours besoin d'un petit coup de main à la ferme, 
                que ce soit en maraichage ou en construction. N'hésitez pas à venir voir l'<a class="text-success" href="{{ path('events')}}">agenda des événements</a> 
                 et à nous contacter pour participer.</p>
            </div>
            <div class="col-md-4 ">
                <img class="body-image border border-1 border-success" src="{{ asset('assets/photos/groupes-chantier.jpg')}}" alt="Réunion de début de journée">
            </div>
        </div>
<!--CHANTIERS END-->
    
        <div class="mt-5 mb-5">
            <img class="separator" src="{{ asset('assets/ink/separateur.svg')}}"><img class="separator-end" src="{{ asset('assets/ink/feuille.png')}}">
        </div>

<!--VIDEOS START-->
            <div class="video-facade">
                <div class="mt-5 mb-5 ">
                    <h1>Et parce qu'à la Super Ferme on a des Super Star qui passent à la télé :</h1>
                </div>
                <div class="mb-5 mt-3">
                    <div class="row pb-5">
                        <div class="col-md-6 video-responsive">
                            <a href=""><img width="560" height="315" src="{{ asset('assets/photos/youtube-left.png')}}"></a>
                        </div>
                        <div class="col-md-6 video-responsive">
                            <img width="560" height="315" src="{{ asset('assets/photos/youtube-right.png')}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-farm">
                <div class="mt-5 mb-5 ">
                    <h1>Et parce qu'à la Super Ferme, on a des Super Star qui passent à la télé :</h1>
                </div>
                <div class="mb-5 mt-3">
                    <div class="row pb-5">
                        <div class="col-md-6 video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/uldYRrEBlYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/vTOW-avGjdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
<!--VIDEOS END-->

        <div class="mt-5 mb-5">
            <img class="separator" src="{{ asset('assets/ink/separateur.svg')}}"><img class="separator-end" src="{{ asset('assets/ink/pois.png')}}">
        </div>

<!--NEWSLETTEER START-->
        <div class="row justify-content-center ">
            <div class="newsletter col-md-6  p-5 pb-5 mb-5 border border-4 border-success text-center">
                <h1 >La Newsletters</h1>
                <div class="border-success">
                    <p class="lead">Vous pouvez vous tenir informer des dernières nouveautés, en vous inscrivant à la newsletter
                    juste ici : </p>
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                    {{ form(form) }}
                </div>
            </div>
        </div>
<!--NEWSLETTEER END-->

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
{% endblock %}