{% extends 'base.html.twig' %}
{% block metaDescription %}Venez découvrir une ferme en pleine ville, juste à côté de la Rochelle à Perigny. Légumes et fruits biologiques.{% endblock %}

{% block title %}LA SUPER FERME {{ parent() }}{% endblock %}

{% block content %}
<div class="">
    <img class="img-perso" src="{{ asset('assets/photos/aerienne.png')}}" alt="Vue aerienne de la ferme">
</div>
<div class="container">
    <div class="row mt-5 mb-5 g-5 text-center  justify-content-around">
        <div class="col-8 items-center">

            <h2 class="mb-5">La Super Ferme</h2>

            <p class="lead">La Super Ferme, c’est un projet de création d’une ferme 
            maraîchère biologique sur 3 hectares au coeur de la ville de 
            Périgny, aux abords de La Rochelle. La Super Ferme se veut 
            respectueuse de la nature et proche des habitants, pour 
            permettre à chacun de consommer des produits sains, locaux, 
            de qualité et de partager des moments conviviaux au coeur de 
            la nature. Les légumes seront en vente directe à la ferme 2 soirs 
            par semaine, au 17 rue du Canton. Le lieu abrite une 
            ferme maraîchère "La Super Ferme".  </p>
            <p class="lead">La ferme suit pleinement la démarche de 
            “Maraîchage Sol Vivant” (MSV), des 
            techniques mises au point par un réseau
            en
            d’agriculteurs-chercheurs
            agroécologie étendu sur toute la 
            France.</p>
        </div>
        <div class="col-md-4 mb-5">
            <img class="body-image" src="{{ asset('assets/photos/petit-bois.jpg') }}" alt="Maraîchage sol vivant">
        </div>
    </div>
        
        <div class="mt-5 mb-5">
            <img class="separator" src="{{ asset('assets/ink/separateur.svg')}}"><img class="separator-end" src="{{ asset('assets/ink/tomate.png')}}">
        </div>

    <div class="row mt-5 mb-5 g-5 text-center  justify-content-around d-flex align-items-center">
        
        <div class="col-md-4 mb-5">
            <img class="body-image" src="{{ asset('assets/photos/infographielasuperferme/MSV.png') }}" alt="Maraîchage sol vivant">
        </div>
        
        <div class="col-8 items-center">

            <h2 class="mb-5">Le maraîchage sol vivant</h2>

            <p class="lead">Alors, le maraîchage sol vivant, qu'est-ce que c'est ?<br>
             C'est très simple,
            ces techniques s’inspirent du vivant et 
            reposent sur la compréhension et le respect de l’écosystème qui vit dans le sol.
            En apportant du carbone aux micro-organismes du 
            sol, ces derniers le transforment en humus, lui-même dégradé par 
            les bactéries qui le convertisse en azote, finalement disponible pour 
            les plantes. Bref, le sol en pleine santé fonctionne en autonomie. Et c’est grâce à la 
            couverture et la nutrition du sol avec l’apport de matières organiques, 
            associées à de longues périodes de bâchage et sans jamais labourer le sol, 
            que l’équilibre est assuré. La production est de qualité et en quantité, tout en 
            diminuant le temps de travail du maraîcher !</p>
        </div>
        
    </div>

        <div class="mt-5 mb-5">
            <img class="separator" src="{{ asset('assets/ink/separateur.svg')}}"><img class="separator-end" src="{{ asset('assets/ink/pois.png')}}">
        </div>

</div>
<div class="container-fluid mt-5 ">

    <div class="row  mb-5 d-flex align-items-center ">
        <div class="col-md-6 items-center text-center justify-content-around">
            <h2 class="mb-5">Le lieu</h2>
            <p class="lead">On l’appelle le petit coin de paradis, et oui cette zone naturelle 
            préservée, abritant un bois classé et longeant le canal de la 
            Moulinette, a de quoi inspirer ! La ville de Périgny a fait le choix en 
            2018 de préserver la biodiversité présente sur le site et d’impulser 
            l'installation d’un maraîcher, sous la forme d’une location agricole. En 
            effet, cette zone naturelle n’avait jamais été cultivée et abrite encore 
            aujourd’hui de nombreuses espèces animales sauvages : chevreuils, 
            canards, faisans, ragondins  </p>
        </div>
        <div class="col-md-6 p-0 mb-5">
            <img class="body-image-big" src="{{ asset('assets/photos/2.png') }}" alt="Vue aerienne">
        </div>

    </div>
</div>
{% endblock %}
