{% extends 'base.html.twig' %}
{% block metaDescription %}Regroupements, apprentissages, échanges, partages et festivitées. Retrouvez nous lors de nos événements à la ferme.{% endblock %}

{% block title %}EVENEMENTS {{ parent() }}{% endblock %}

{% block content %}

<!-- start Head picture-->
{% for picture in eventsPictures %}
    <img class="img-perso" src="pictures/{{ picture.illustration }}" alt="Événements">
{% endfor %}
<!-- end Head picture-->

<div class="container">
<!--EVENTS START-->
        <div class="mt-5 mb-5">
            <span class="text-center ">
                <h1>Les évenements à venir à la Super Ferme</h1>
            </span>
        </div>
        <div class="row gx-4">
            <div class="col-md-7 mt-3">
                <div id="formations-carousel" class="carousel carousel-dark slide pointer-event" data-bs-ride="carousel">
                    <div class="carousel-inner carousel-dimensions">
                      {% for event in events %}
                        <div class="carousel-item active carousel-events-blocks">
                            <div class="ms-3 mb-3">
                                <h2>{{ event.name }}</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="me-5">
                                        <img class="body-image" src="pictures/{{ event.illustration }}" alt="{{ event.name}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ms-5 p-4 item-center">
                                        <p>{{ event.description }}</p>
                                        <p>Date de l'événement: {{ event.date|date('d-m-Y') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#formations-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#formations-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-5 mt-3 shadow p-3 mb-5 bg-body rounded text-center">
                <h2 class="featurette-heading">Il s'en passe des choses à la Super Ferme !</h2>
                    <div class="border border-4 border-success mb-4 p-4">
                        <p class="lead">Venez nous rejoindre lors de nos événements. C'est l'occasion
                         d'apprendre, d'échanger et tout simplement d'être ensemble.</p>
                        <p class="lead">Retrouvez la liste détaillée des événements à venir, directement ici : </p>
                        <a class="btn btn-success mb-4" href="{{ path('events')}}">Les événements</a>
                        
                        <p class="lead">Nous organisons aussi des formations, sur le maraîchage sol vivant, avec l'association <a class="text-success" href="{{ path('canton_seme')}}">Canton Sème.</a></p> 

                        <p class="lead">Venez-vous renseigner sur les formations ici : </p>
                        <a class="btn btn-success mb-4" href="{{ path('formations')}}">Les formations</a>
                    </div>
            </div>
        </div>
<!--EVENTS END-->

        <div class="items-center mt-5 mb-5 g-5 text-center">

            <h1 class="mb-5">Les supers événements de la Super Ferme</h1>

            <p class="lead">Parce que nous aimons nous retrouver, que ce soit pour échanger, apprendre, 
            nous ressourcer, construire, et maraîcher... Alors voilà les événements auxquels vous pourrez participer ainsi que les jours
            où nous aurons besoin de vous sur la ferme :</p>
        </div>

    {% for event in events %}
        <div class="mt-5 mb-5 pb-3">
            <img class="separator" src="{{ asset('assets/ink/separateur.svg')}}"><img class="separator-end" src="{{ asset('assets/ink/feuille.png')}}">
        </div>

        <div class="row featurette mt-5 pb-5 gx-5 text-center align-items-center justify-content-around">
            <div class="col-md-7">
                <h2 class="mb-5">{{ event.name }}</h2>

                <p class="lead">Date de l'événement : {{ event.date|date('d-m-Y') }}<br>
                Thème de l'événment : {{ event.description }}<br>
              
            </div>        
            <div class="col-md-4">
                <img class="body-image" src="/pictures/{{ event.illustration }}" alt="{{ event.name }}">
            </div>        
        </div>    


    {% endfor %}

{% endblock %}
